TIEMPO_RETARDO_OPERACION=5
PATH_METADATA=/home/utnso/Documentos/Prueba_GameCard/TALL_GRASS/Metadata
PUERTO_BROKER=4444
PATH_BLOQUES=/home/utnso/Documentos/Prueba_GameCard/TALL_GRASS/Bloques
IP_BROKER=127.0.0.1
PUNTO_MONTAJE_TALLGRASS=/home/utnso/Documentos/Prueba_GameCard
TIEMPO_DE_REINTENTO_CONEXION=10
PATH_FILES=/home/utnso/Documentos/Prueba_GameCard/TALL_GRASS/Files
TIEMPO_DE_REINTENTO_OPERACION=5
PROCESS_ID=5678